.flex {
  display: flex;
}

.item {
  text-align: left;
  font-size: 1.2em;
  width: 250px;
  padding-right: 20px;
  /*border: 1px solid #ccc;*/
}

.container {
  max-width: 530px;
  margin: 10px auto;
  /*border: 1px solid #ccc;*/
  justify-content: center;
}

#divcores {
  border: black;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  width: 100px;
  height: 100px;
}

body {
  padding: 10px;
}

.clsTexto {
  width: 60px;
}

.clsRange {
  width: 260px;
}
.clsCor {
  width: 100px;
}

#textoVermelho {
  color: red;
}

#textoVerde {
  color: green;
}

#textoAzul {
  color: blue;
}
